@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
    display: flex;
    flex-direction: column;
    min-height:100vh;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.section-1{
    display:flex;
    flex-direction: column;
    padding-left: 48px;
    padding-right: 48px;
}

.header{
    display:flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-1, 
.header, 
.hero-content{
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
    gap: 24px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-left: auto;
}

.hero{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
}

.hero-content{
    width: 350px;
}

.hero-main{
    font-size:48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 16px;
}

.hero-secondary, li{
    font-size: 18px;
    color: #E5E7EB;
    text-wrap: wrap;
    padding-bottom: 16px;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color:#E5E7EB;
    min-width: 400px;
}

.signup{
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 8px;
    border: none;
}

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 24px;
}

.cards{
    display: flex;
    gap: 24px;
    
}

.card{
    width: 200px;
}

.information-header{
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;  
}

.image{
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 16px;
}

.text{
    text-align: center;
}

.section-3{
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container{
    width: 800px;
    display: flex;
    flex-direction: column;
}

.quote{
   font-size: 36px;
   font-weight: 100;
   font-style: italic;
   text-align: justify;
}

.quote-attribution{
    display: flex;
    justify-content: right;
    font-size: 36px;

}

.section-3,
.quote-container{
    background-color: #E5E7EB;
}

.section-4{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 48px;
}

.call-to-action{
    display: flex;
    gap: 24px;
    width: 750px;
    justify-content: space-around;
    color: white;
    background-color:#3882F6;
    padding: 36px;
    border-radius: 8px;
}

.action-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.call-to-action .signup{
    border: 2px solid white;
}

.action-heading{
    font-weight: 900;
    font-size: 24px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #1F2937;
}

.footer-text{
    color: white;
}








